/* Write your custom CSS here */


/* Estilização para formulário desabilitado */
input:disabled {
    color: #525252 !important;
}
input:disabled + label{
    color: #525252 !important;
}
textarea:disabled {
    color: #525252 !important;
}
textarea:disabled + label{
    color: #525252 !important;
}


/* Modal dialog customizada */
.modal_dialog_custom{
    z-index: 999999;
    display: none;
    opacity: 0;
    transform: scaleX(0.7);
    top: 250.516304347826px;
    background-color: #fff;
    width: 400px;
    height: 400px !important;
}


/* Cards */
.card-simple-widget{
    border-left: #0BA0BB 3px solid;
    border-radius: 3px;
}


/* Fonts */
h1, h2, h3, h4, h5, h6, label, p, span, small, strong, body {
    /*font-family: 'Didact Gothic', sans-serif;*/
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

.font-weight-400{
    font-weight: 400 !important;
}

.font-weight-500{
    font-weight: 500 !important;
}

.font-weight-600{
    font-weight: 600 !important;
}

.font-weight-700{
    font-weight: 700 !important;
}

.font-weight-800{
    font-weight: 800 !important;
}

.font-size-12{
    font-size: 12px !important;
}

.font-size-14{
    font-size: 14px !important;
}

.font-size-16{
    font-size: 16px !important;
}

.font-size-18{
    font-size: 18px !important;
}

/* text color */
.text-dark {
    color: rgb(103, 103, 103) !important;
}


/* Input field no padding */
.row-input{
    height: 4px;
}

/* Wizard content */
.wizard-content-300{
    height: 300px !important;
}

/* Buttons */
.btn-submit{
    border-radius: 4px;
    font-weight: 500;
}

.btn-danger{
    background-color: rgba(229, 0, 39, 0.76);
    color: rgb(255, 255, 255);
}

.btn-danger:hover{
    background-color: rgb(229, 0, 39);
    color: rgb(255, 255, 255);
}

.btn-default{
    background-color: rgba(205, 199, 208, 0.3);
    color: rgba(0, 0, 0, 0.57);
}

.btn-default:hover{
    background-color: rgba(205, 199, 208, 0.55);
    color: rgba(0, 0, 0, 0.95);
}

.btn-info{
    background-color: rgba(0, 172, 194, 0.74);
    color: rgba(255, 255, 255, 0.57);
}

.btn-info:hover{
    background-color: rgba(0, 172, 194, 0.95);
    color: rgba(255, 255, 255, 0.95);
}

.btn-success{
    background-color: rgba(61, 194, 103, 0.86);
    color: rgba(255, 255, 255, 0.57);
}

.btn-success:hover{
    background-color: rgb(83, 194, 72);
    color: rgba(255, 255, 255, 0.95);
}

.btn-warning{
    background-color: rgb(254, 140, 45);
    color: rgba(255, 255, 255, 0.57);
}

.btn-warning:hover{
    background-color: rgb(254, 123, 33);
    color: rgba(255, 255, 255, 0.95);
}


/* Breadcrumbs */
.breadcrumbs{
    position: relative;
    top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.15);
}

.breadcrumbs-itens{
    --cssuiBreadcrumbsTextColor: var(--breadcrumbsTextColor);
    --cssuiBreadcrumbsTextColorActive: var(--breadcrumbsTextColorActive);
    --cssuiBreadcrumbsDivider: var(--breadcrumbsDivider);
    --cssuiBreadcrumbsDividerColor: var(--breadcrumbsDividerColor, inherit);
    --cssuiBreadcrumbsDividerSize: var(--breadcrumbsDividerSize, 16px);
    --cssuiBreadcrumbsIndent:  var(--breadcrumbsIndent, 8px);

    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
}

.breadcrumbs__item{
    display: inline-block;
    position: relative;

    padding-right: calc(var(--cssuiBreadcrumbsDividerSize) + var(--cssuiBreadcrumbsIndent));
    margin-right: var(--cssuiBreadcrumbsIndent);

    color: var(--cssuiBreadcrumbsTextColor);
}

.breadcrumbs__item:after{
    content: var(--cssuiBreadcrumbsDivider);
    width: var(--cssuiBreadcrumbsDividerSize);
    height: var(--cssuiBreadcrumbsDividerSize);

    line-height: 1;
    text-align: center;

    font-family: "Arial", sans-serif;
    font-size: var(--cssuiBreadcrumbsDividerSize);
    color: var(--cssuiBreadcrumbsDividerColor);

    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.breadcrumbs__item_active{
    margin-right: 0;
    padding-right: 0;
    color: var(--cssuiBreadcrumbsTextColorActive);
}

.breadcrumbs__item_active:after{
    display: none;
}
.breadcrumbs__element{
    color: inherit;
}

.breadcrumbs{
    --breadcrumbsTextColor: #7eb8e9;
    --breadcrumbsTextColorActive: #D1C4E9;
}

.breadcrumbs_chevron{
    --breadcrumbsDivider: "›";
    --breadcrumbsDividerSize: 20px;
    color: #D1C4E9;
}

/* Icon color */

i.icon-success {
    color: #53a850;
}

i.icon-danger {
    color: #c43d25;
}

i.icon-info {
    color: #3881d4;
}

i.icon-warning {
    color:  #cfa415;
}

i.icon-default {
    color:  #666561;
}

i.icon-white {
    color:  #fff;
}


/* Label Badges */

.label{
    font-size: 12px;
    line-height: 2;
    font-weight: bold;
    padding: 3px 7px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    border-radius: 4px;
    display: inline;
}

.bg-success{
    background-color: #53a850 !important;
    color: #fff !important;
}

.bg-danger{
    background-color: #c43d25 !important;
    color: #fff !important;
}

.bg-info{
    background-color: #3881d4 !important;
    color: #fff !important;
}

.bg-primary{
    background-color: #00acc2 !important;
    color: #fff !important;
}

.bg-warning{
    background-color: #cfa415 !important;
    color: #fff !important;
}

.bg-default{
    background-color: #666561 !important;
    color: #fff !important;
}

.bg-white{
    background-color: #fff !important;
    color: #666561 !important;
}


/* Margins */

.margin-5{
    margin: 5px 5px 5px 5px;
}

.margin-10{
    margin: 10px 10px 10px 10px;
}


/* Paddings */

.padding-top-10{
    padding-top: 10px;
}

.padding-top-20{
    padding-top: 20px;
}

.padding-top-30{
    padding-top: 30px;
}

.padding-top-40{
    padding-top: 40px;
}

.padding-top-50{
    padding-top: 50px;
}

.padding-right-10{
    padding-right: 10px;
}

.padding-right-15{
    padding-right: 15px;
}

.padding-right-20{
    padding-right: 20px;
}

.padding-right-30{
    padding-right: 30px;
}

.padding-right-40{
    padding-right: 40px;
}

.padding-right-50{
    padding-right: 50px;
}

.padding-bottom-10{
    padding-bottom: 10px;
}

.padding-bottom-20{
    padding-bottom: 20px;
}

.padding-bottom-30{
    padding-bottom: 30px;
}

.padding-bottom-40{
    padding-bottom: 40px;
}

.padding-bottom-50{
    padding-bottom: 50px;
}

.padding-left-10{
    padding-left: 10px;
}

.padding-left-15{
    padding-left: 15px;
}


.padding-left-20{
    padding-left: 20px;
}

.padding-left-30{
    padding-left: 30px;
}

.padding-left-40{
    padding-left: 40px;
}

.padding-left-50{
    padding-left: 50px;
}


/* Card title */
.card-panel:hover {
    box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.18);
}

.card-panel {
    border-radius: 5px;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.15);
}

/* Card chamado */
.ticket-row {
    margin-bottom: 0;
    padding: 0 35.5px;
}

.ticket-header{
    padding: 20px 0 20px 0;
}

.ticket-container {
    margin-bottom: 0;
}

.timeline {
    list-style: none;
    padding: 10px 0 10px;
    position: relative;
}
.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 5px;
    background-color: #ffffff;
    left: 50%;
    margin-left: -1.5px;
}
.timeline > li {
    margin-bottom: 20px;
    position: relative;
}
.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li > .timeline-panel {
    width: 45%;
    float: left;
    border: 1px solid #ffffff;
    border-radius: 2px;
    background-color: #fff;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgb(196, 196, 196);
    box-shadow: 0 1px 6px rgb(196, 196, 196);
}
.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -8px;
    display: inline-block;
    border-top: 8px solid transparent;
    border-left: 8px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 8px solid transparent;
    content: " ";
}
.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -10px;
    display: inline-block;
    border-top: 8px solid transparent;
    border-left: 8px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 8px solid transparent;
    content: " ";
}
.timeline > li > .timeline-badge {
    color: #35aab2;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #ffffff;
    z-index: 100;
    border-radius: 50%;
    border: 2px solid #ededed
}
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-badge.primary {
    background-color: #2e6da4 !important;
}
.timeline-badge.success {
    background-color: #3f903f !important;
}
.timeline-badge.warning {
    background-color: #f0ad4e !important;
}
.timeline-badge.danger {
    background-color: #d9534f !important;
}
.timeline-badge.info {
    background-color: #5bc0de !important;
}
.timeline-title {
    margin-top: 0;
    color: inherit;
    font-weight: bolder;
}
.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}
.timeline-body > p + p {
    margin-top: 5px;
}


/* Alert bootstrap */
.flash_message {
    position: relative;
    width: 100%;
}

.chip-message-success,
.chip-message-info,
.chip-message-warning,
.chip-message-danger {
    padding-bottom: 2px !important;
    font-size: 12px !important;
    width: 100%;
    min-height: 30px;
    border-radius: 5px;
}

.chip-message-success {
    background-color: #99ce80 !important;
}

.chip-message-info {
    background-color: #bbdefb !important;
}

.chip-message-warning {
    background-color: #ffcc80 !important;
}

.chip-message-danger {
    background-color: #ff8e9a !important;
}

/* Cursor */
.cursor-pointer{
    cursor: pointer;
}


/* hr */
hr{
    padding: 10px !important;
    border-width: 0 0 2px 0 !important;
}


/* Perfis de acesso */
.card-permissao{
    margin-top: 30px;
    min-height: 250px
}


/* Hide e visibles*/
.hide {
    display: none !important;
}
.show {
    display: block !important;
}
.invisible {
    visibility: hidden;
}
.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
.hidden {
    display: none !important;
}
.affix {
    position: fixed;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
    display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
    display: none !important;
}
@media (max-width: 767px) {
    .visible-xs {
        display: block !important;
    }
    table.visible-xs {
        display: table !important;
    }
    tr.visible-xs {
        display: table-row !important;
    }
    th.visible-xs,
    td.visible-xs {
        display: table-cell !important;
    }
}
@media (max-width: 767px) {
    .visible-xs-block {
        display: block !important;
    }
}
@media (max-width: 767px) {
    .visible-xs-inline {
        display: inline !important;
    }
}
@media (max-width: 767px) {
    .visible-xs-inline-block {
        display: inline-block !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm {
        display: block !important;
    }
    table.visible-sm {
        display: table !important;
    }
    tr.visible-sm {
        display: table-row !important;
    }
    th.visible-sm,
    td.visible-sm {
        display: table-cell !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm-block {
        display: block !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm-inline {
        display: inline !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm-inline-block {
        display: inline-block !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md {
        display: block !important;
    }
    table.visible-md {
        display: table !important;
    }
    tr.visible-md {
        display: table-row !important;
    }
    th.visible-md,
    td.visible-md {
        display: table-cell !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md-block {
        display: block !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md-inline {
        display: inline !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md-inline-block {
        display: inline-block !important;
    }
}
@media (min-width: 1200px) {
    .visible-lg {
        display: block !important;
    }
    table.visible-lg {
        display: table !important;
    }
    tr.visible-lg {
        display: table-row !important;
    }
    th.visible-lg,
    td.visible-lg {
        display: table-cell !important;
    }
}
@media (min-width: 1200px) {
    .visible-lg-block {
        display: block !important;
    }
}
@media (min-width: 1200px) {
    .visible-lg-inline {
        display: inline !important;
    }
}
@media (min-width: 1200px) {
    .visible-lg-inline-block {
        display: inline-block !important;
    }
}
@media (max-width: 767px) {
    .hidden-xs {
        display: none !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .hidden-sm {
        display: none !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .hidden-md {
        display: none !important;
    }
}
@media (min-width: 1200px) {
    .hidden-lg {
        display: none !important;
    }
}
.visible-print {
    display: none !important;
}
@media print {
    .visible-print {
        display: block !important;
    }
    table.visible-print {
        display: table !important;
    }
    tr.visible-print {
        display: table-row !important;
    }
    th.visible-print,
    td.visible-print {
        display: table-cell !important;
    }
}
.visible-print-block {
    display: none !important;
}
@media print {
    .visible-print-block {
        display: block !important;
    }
}
.visible-print-inline {
    display: none !important;
}
@media print {
    .visible-print-inline {
        display: inline !important;
    }
}
.visible-print-inline-block {
    display: none !important;
}
@media print {
    .visible-print-inline-block {
        display: inline-block !important;
    }
}
@media print {
    .hidden-print {
        display: none !important;
    }
}